* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: #ece7e7;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*navbar*/

nav {
  background: #0f0f89;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  transition: 0.6s;
}

img {
  width: 30px;
  cursor: pointer;
}

.logo {
  margin-right: 30px;
}

.logo img {
  width: 100px;
  border-radius: 10px;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navleft {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 400px;
  padding-left: 40px;
}

.logo {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.navright {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.search {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search input {
  width: 300px;
  height: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 10px;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile img {
  border: none;
  border-radius: 100px;
  margin-right: 20px;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: rgb(33, 207, 48);
  position: absolute;
  top: 0;
  right: 18px;
}

/*end of navbar*/

/*sidebar*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 13px 5px;
}

.left-sidebar,
.right-sidebar {
  flex-basis: 20%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.main-content {
  flex-basis: 47%;
  align-self: flex-start;
  top: 70px;
}

.left-sidebar {
  padding-left: 40px;
}
.right-sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  color: #626262;
  margin-right: 20px;
  flex-basis: 25%;
}

.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: #626262;
  width: fit-content;
}

.imp-links a:hover {
  color: #17817b;
}

.imp-links a img {
  width: 15px;
  margin-right: 20px;
}

.imp-links a:last-child {
  color: #1876f2;
  padding-left: 5px;
}

.imp-links {
  border-bottom: 1px solid rgb(188, 186, 186);
}

.shortcut-links img {
  width: 60px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
.shortcut-links {
  font-size: 15px;
  margin-top: 10px;
}
.shortcut-links p {
  font-family: sans-serif;
  margin: 25px 0;
  color: #626262;
  font-weight: 700;
}

.shortcut-links a:hover {
  color: #17817b;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 15px;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(223, 218, 218);
}

.sidebar-title h4 {
  font-size: 18px;
  font-weight: 600;
}
.sidebar-title a {
  text-decoration: none;
  color: #1876f2;
  font-size: 12px;
  /* transition: .5s ease; */
}

.sidebar-title a:hover {
  /* transform: scale(1.02); */
}

.event {
  display: flex;
  font: 13px;
  margin-bottom: 20px;
  transition: 0.5s ease;
}

.event:hover {
  transform: translateX(5px);
}

.left-event {
  border-radius: 10px;
  height: 65px;
  width: 70px;
  margin-right: 15px;
  padding-top: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.right-event {
  padding-top: 8px;
}

.event p {
  font-size: 12px;
}
.event a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: white;
  font-size: 10px;
  padding: 4px 0;
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 9px;
  transition: 0.5s ease;
}
.sidebar-ads:hover {
  transform: scale(1.05);
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-list img {
  width: 35px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.onlineMember {
  position: relative;
}

.onlineMember::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: rgb(33, 207, 48);
  position: absolute;
  top: unset;
  bottom: 3px;
  right: 8px;
}

.online-list p {
  font-size: 15px;
}

/* main content---------------------------------------------------*/

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.story img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 4px solid #1876f2;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.st1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/main/status-1.jpg);
}
.st2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/main/status-2.jpg);
}
.st3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/main/status-3.jpg);
}
.st4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/main/status-4.jpg);
}
.st5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/main/status-5.jpg);
}

.story.st1 img {
  top: unset;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  border: 0;
  width: 40px;
}

.write-post-container {
  width: 100%;
  background: white;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin-bottom: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}

.user-profile small {
  font-size: 11px;
}

.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}

.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #ccc;
  background: transparent;
  resize: none;
}

.post-links {
  display: flex;
  margin-top: 10px;
}

.post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  margin-left: 5px;
  font-size: 13px;
}

.post-links img {
  width: 20px;
  margin-right: 10px;
}

.post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}

.user-profile span {
  font-size: 13px;
  color: #9a9a9a;
}

.postP {
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}

.postP a {
  color: #1876f2;
  font-size: 14px;
}

.post-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-icons div img {
  width: 16px;
  margin-right: 10px;
}

.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  font-size: 13px;
}

.post-profile-icons {
  display: flex;
  align-items: center;
}
.post-profile-icons img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.dots3 {
  margin-right: 10px;
}

/* .dots3:hover {
  background-color: #d5d3d3;
  padding: 3px;
  border-radius: 50%;
} */

.loadButton {
  display: block;
  margin: auto;

  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 5px;
  font-weight: 500;
}

.loadButton:hover {
  box-shadow: rgba(0, 0, 0, 0.5);
  background-color: #d0c9c9;
}

.footer {
  text-align: center;
  color: #9a9a9a;
  font-size: 14px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  height: 500px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  top: 70px;
  right: 1%;
  display: none;
}

.user-profile a {
  font-size: 15px;
  color: #1876f2;
  text-decoration: none;
}

.settings-menu-inner {
  padding: 20px;
  padding-top: 10px;
}

.settings-menu hr {
  border: 0;
  height: 1px;
  background-color: #9a9a9a;
  margin: 15px 0;
}
